.navigation {
  background: #000000;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;

  color: #ffffff;

  margin: 20px 22px 19px 0;
}

.navigation-logo__highlighted {
  color: #ec7979;
}

.navigation__menu {
  display: flex;
  align-items: space-between;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;

  margin: 25px -15px;
}

.navigation__menu-item {
  margin: 0 15px 0 15px;
}

.navigation__link {
  color: rgba(255, 255, 255, 0.7);
}

.navigation__link:hover {
  color: #ffffff;
}

@media (max-width: 500px) {
  .navigation-container {
    flex-direction: column;
    align-items: center;
  }

  .navigation__menu {
    flex-direction: column;
  }

  .navigation-logo {
    margin-right: 0;
    margin-bottom: 0;
  }

  .navigation__menu-item {
    margin: 15px auto;
  }
}
