@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.awesome-section {
  padding: 15px;
}
.awesome-section__title {
  margin: 85px auto 25px auto;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;

  text-transform: uppercase;
  text-align: center;

  color: #212121;
}
.awesome-section__divider {
  width: 64px;
  height: 2px;

  margin: 0 auto;

  border: 1px solid #d98943;
}
.awesome-section__subtitle {
  margin: 30px auto 36px auto;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  text-align: center;

  color: #86878b;
}
.awesome-section__cards-container {
}
.awesome-section__card {
  margin: 32px;
}
.awesome-section__card-icon {
  width: 70px;
  height: 70px;

  border: 1px solid #d98943;
  border-radius: 50%;

  margin: 0 auto 0 auto;
}

.awesome-section__card-icon_img_lightbulb {
  background: url('../img/lightbulb.png') center center no-repeat;
}

.awesome-section__card-icon_img_keyboard {
  background: url('../img/keyboard.png') center center no-repeat;
}

.awesome-section__card-icon_img_lightning {
  background: url('../img/lightning.png') center center no-repeat;
}

.awesome-section__card-title {
}
.awesome-section__card-text {
}
