.awesome__title {
  margin: 85px auto 25px auto;
}

.awesome__subtitle {
  margin: 30px auto 36px auto;
}

.awesome__cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.awesome__card {
  width: 350px;

  margin: 31px 15px 74px 15px;
}

.awesome__card-icon {
  width: 70px;
  height: 70px;

  margin: 0 auto 15px auto;

  border: 1px solid #d98943;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.awesome__card-icon-img {
  display: block;
}

.awesome__card-title {
  margin: 15px auto 16px auto;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;

  text-align: center;

  color: #333333;
}

.awesome__card-text {
  margin-bottom: 20px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  text-align: center;

  color: #000000;
}
