.header {
  background: #000000;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;

  color: #ffffff;

  margin: 20px 0 19px 0;
}
.header-logo__highlighted {
  color: #ec7979;
}
.header-navigation {
}
.header-navigation__menu {
  display: flex;
  align-items: space-between;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;

  color: rgba(255, 255, 255, 0.7);

  margin: 25px -48px 25px -48px;
}
.header-navigation__menu-item {
  margin: 0 48px 0 48px;
}

.header-navigation__link:hover {
  color: #ffffff;
}
