.navigation {
  background: #000000;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;

  color: #ffffff;

  margin: 20px 48px 19px 0;
}

.navigation-logo__highlighted {
  color: #ec7979;
}

.navigation__menu {
  display: flex;
  align-items: space-between;
  flex-wrap: wrap;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;

  margin: 25px -48px 25px -48px;
}

.navigation__menu-item {
  margin: 0 48px 0 48px;
}

.navigation__link {
  color: rgba(255, 255, 255, 0.7);
}

.navigation__link:hover {
  color: #ffffff;
}
